<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Truong ABC</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/trg.css">
    <script src="/angular-1.8.0/angular.min.js"></script>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <div class="container-fluid">
        <nav class="row navbar navbar-expand-lg navbar-dark">
            <div class="abc">
                <a class="nav-link" href="index.html"><img src="/images/logo.png"  width="100px" height="80px"></a>
            </div>
            <ul class="navbar-nav">
                <li class="nav-item" >
                    <a class="nav-link" href="index.html"><i class="fas fa-home"></i> TRANG CHỦ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="gioithieu.html"><i class="fas fa-exclamation"></i> GIỚI THIỆU</a>
                </li>
                <li class="nav-item">
                        <div class="dropdown">
                            <a class="nav-link" href="sanpham.html"><i class="fas fa-list"></i> SẢN PHẨM <span class="badge badge-danger">new</span></a>
                            <div class="dropdown-content">
                                <a href="xe.html">Xe <span class="badge badge-danger">17</span></a>
                                <a href="thoitrang.html">Thời trang <span class="badge badge-danger">10</span></a>
                                <a href="phukien.html">Các loại phụ kiện khác <span class="badge badge-danger">7</span></a>
                            </div>
                        </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="lienhe.html"><i class="fas fa-phone"></i> LIÊN HỆ</a>
                </li>
                <ul class="navbar-nav ml-auto" style="text-align: center; padding-left: 900px;">
                    <li class="nav-item">
                        <div class="dropdown">
                            <div class="nav-link"><i class="fas fa-user-cog"></i> TÀI KHOẢN</div>
                            <div class="dropdown-content">
                                <a href="#" data-toggle="modal" data-target="#modelId1">Đăng ký</a>
                                <a href="#" data-toggle="modal" data-target="#modelId2">Đăng nhập</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </ul>
        </nav>
        <br>
        <div class="row">
                <div id="carouselId" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselId" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselId" data-slide-to="1"></li>
                        <li data-target="#carouselId" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner text-center" role="listbox" style="background-color: gray;">
                        <div class="carousel-item active">
                            <img src="/images/br1.jpg" width="1700px" height="800px" alt="First slide">
                            <div class="carousel-caption d-none d-md-block">
                                <h3 style="color:white;">Urus</h3>
                                <p style="color: greenyellow;">2020</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="/images/br2.jpg" width="1700px" height="800px" alt="Second slide">
                            <div class="carousel-caption d-none d-md-block">
                                <h3 style="color:white;">Huracan</h3>
                                <p style="color: greenyellow;">2021</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="/images//br3.jpg" width="1700px" height="800px" alt="Third slide">
                            <div class="carousel-caption d-none d-md-block">
                                <h3 style="color:white;">Aventador</h3>
                                <p style="color: greenyellow;">2021</p>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselId" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselId" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div> 
        </div>
        <!-- -------- -->
        <div class="row" style="width: 1700px; background-color:black;">
            <div class="col-sm-3" style="margin-top: 5px; color: white;">
                <h5 style="text-align: center;">2021 Aventador</h5>
                <img src="/images/br3.jpg" width="400px" height="200px">
                <p style="text-align: justify;  padding: 5px;">In a world that has become heavily reliant on technology, the 2021 Lamborghini Aventador takes a more nostalgic look at things. 
                    The large Lambo is a triumphant tribute to supercars of old, with its flamboyant facade and vociferous V-12
                <a class="btn btn-primary" href="https://www.caranddriver.com/lamborghini/aventador">More</a></p>
            </div>
            <div class="col-sm-3" style="margin-top: 5px; color: white;">
                <h5 style="text-align: center;">2021 Huracán</h5>
                <img src="/images/br2.jpg" width="400px" height="200px">
                <p style="text-align: justify; padding: 5px;">No matter how affordable and badass the mid-engine Corvette is, it's still nowhere near as desirable or visceral as the 2021 Lamborghini Huracán. 
                    Although the Lambo's six-figure price tag makes it basically unobtainable to the vast majority
                <a class="btn btn-primary" href="https://www.caranddriver.com/lamborghini/huracan">More</a></p>
            </div>
            <div class="col-sm-3" style="margin-top: 5px; color: white;">
                <h5 style="text-align: center;">2020 Urus</h5>
                <img src="/images/br1.jpg" width="400px" height="200px">
                <p style="text-align: justify; padding: 5px;">Whilehigh-performance crossover have existed for some time, the Urus looks to ignite a more exotic breed of hi-po SUV. 
                    Its dizzying price tag and menacing exterior design make the high-riding Lamborghini trendy
                <a class="btn btn-primary" href="https://www.caranddriver.com/lamborghini/urus-2020">More</a></p>
            </div>
            <div class="col-sm-3" style="margin-top: 5px; color: white;">
                <h5 style="text-align: center;">2020 Aventador</h5>
                <img src="/images/br4.jpg" width="400px" height="200px">
                <p style="text-align: justify; padding: 5px;">With wild-looking bodywork and dramatic performance, the 2020 Lamborghini Aventador is spectacular in every sense of the word. 
                    It's also the last of a dying breed, with hybrid technology expected to enhance future iterations
                <a class="btn btn-primary" href="https://www.caranddriver.com/lamborghini/aventador-2020">More</a></p>
            </div> 
            <div class="col-sm-3" style="margin-top: 5px; color: white;">
                <h5 style="text-align: center;">2020 Huracán</h5>
                <img src="/images/br5.jpg" width="400px" height="200px">
                <p style="text-align: justify;  padding: 5px;">Got a need for speed and about a quarter-million dollars to burn? Well, Lamborghini has you covered with the attention-grabbing, hard-charging Huracán. 
                While it's smaller and more affordable than the aging Aventador and trendy Urus, the littlest Lambo still costs six figures
                <a class="btn btn-primary"href="https://www.caranddriver.com/lamborghini/huracan-2020">More</a></p>
            </div>
            <div class="col-sm-3" style="margin-top: 5px; color: white;">
                <h5 style="text-align: center;">2019 Aventador</h5>
                <img src="/images/br6.jpg" width="400px" height="200px">
                <p style="text-align: justify; padding: 5px;">As the flagship for supercar royalty, the wild-looking and wildly powerful 2019 Lamborghini Aventador does more than just carry the Lamborghini torch—it intensifies the flame. 
                    Its wedge-like body and hunkered-down stance evoke the legendary Italian company's distinct design language
                <a class="btn btn-primary" href="https://www.caranddriver.com/lamborghini/aventador-2019">More</a></p>
            </div>
            <div class="col-sm-3" style="margin-top: 5px; color: white;">
                <h5 style="text-align: center;">2021 Urus</h5>
                <img src="/images/br7.jpg" width="400px" height="200px">
                <p style="text-align: justify; padding: 5px;">The 2021 Lamborghini Urus is extreme in almost every way, which is exactly what's expected when a legendary supercar maker builds an SUV. 
                    Its chiseled bodywork and hulking proportions are appropriately exaggerated, but don't think this 641-hp Italian monster isn't a terror on the track 
                <a class="btn btn-primary" href="https://www.caranddriver.com/lamborghini/urus">More</a></p>
            </div>
            <div class="col-sm-3" style="margin-top: 5px; color: white;">
                <h5 style="text-align: center;">2019 Huracán</h5>
                <img src="/images/br8.jpg" width="400px" height="200px">
                <p style="text-align: justify; padding: 5px;">The 2019 Lamborghini Huracán is a special kind of machine that gets parked in a venture capitalist's garage and posted on a dreamer's wall. 
                    After all, anything that bears the legendary Lamborghini logo is instantly identified as supercar royalty This star-studded
                <a class="btn btn-primary" href="https://www.caranddriver.com/lamborghini/huracan-2019">More</a></p>
            </div>
        </div>
        <!-- -------- -->
<!-- ------ -->
        <div class="modal fade" id="modelId1" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">ĐĂNG KÝ TÀI KHOẢN</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                    </div>
                    <div class="modal-body">
                        <form name="frmsv">
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label ><strong>Tên đăng nhập</strong></label>
                                    <input type="text" class="form-control" ng-model="name" placeholder="Tên đăng nhập" required minlength="10" maxlength="50" name="txtName">
                                    <label ng-show="frmsv.txtName.$invalid" class="alert alert-danger">Còn trống nè hoặc sai định dạng vd:(10 ký tự -> 50)</label>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label><strong>Mật khẩu</strong></label>
                                    <input type="password" class="form-control" ng-model="mk1" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" name="txtmk1"  placeholder="Mật khẩu">
                                    <label ng-show="frmsv.txtmk1.$invalid" class="alert alert-danger">Còn trống nè hoặc sai định dạng vd:(8<= ký tự + 1 số)</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label for=""><strong>Số điện thoại</strong></label>
                                    <input type="text" class="form-control" ng-model="sdt" required pattern="0[0-9\s.-]{9,13}" name="txtSdt"  placeholder="Số điện thoại">
                                    <label ng-show="frmsv.txtSdt.$invalid" class="alert alert-danger">Còn trống nè hoặc sai định dạng vd:(<= 10 số)</label>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for=""><strong>Nhập lại mật khẩu</strong></label>
                                    <input type="password" class="form-control" ng-model="mk2" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" name="txtmk2" placeholder="Mật khẩu">
                                    <label ng-show="frmsv.txtmk2.$invalid" class="alert alert-danger">Còn trống nè hoặc sai định dạng vd:(8<= ký tự + 1 số)</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <label for=""><strong>Địa chỉ</strong></label>
                                    <textarea class="form-control" rows="3" ng-model="dc" required minlength="10" maxlength="500" name="txtdc" placeholder="(đường,phường,quận,TP)"></textarea>
                                    <label ng-show="frmsv.txtdc.$invalid" class="alert alert-danger">Còn trống nè hoặc sai định dạng vd:(< 10 ký tự -> 50)</label>
                                </div>
                            </div>
                        
                        </form>
                    </div>
                    <div class="modal-footer">
                        <div class="form-group col-sm-6" style="margin-left: 20px;">
                            <a href=""><strong data-toggle="modal" data-target="#modelId2" data-dismiss="modal">Quay lại đăng nhập</strong></a>
                        </div>
                        <button type="submit" ng-show="frmsv.$valid" class="btn btn-warning">Đăng ký</button>
                        <button type="reset" class="btn btn-danger" data-dismiss="modal" aria-label="Close">Huỷ</button>
                    </div>
                </div>
            </div>
        </div>
<!-- ------- -->
<!-- ------ -->
        <div class="modal fade" id="modelId2" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">ĐĂNG NHẬP</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label for=""><strong>Tên đăng nhập</strong></label>
                                    <input type="text" class="form-control" placeholder="Tên đăng nhập">
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for=""><strong>Mật khẩu</strong></label>
                                    <input type="password" class="form-control" placeholder="Mật khẩu">
                                </div>
                                <div class="form-group col-sm-6" style="text-align: center;">
                                    <a href=""><strong data-toggle="modal" data-target="#modelId3" data-dismiss="modal">Quên mật khẩu ?</strong></a> |
                                    <a href=""><strong data-toggle="modal" data-target="#modelId1" data-dismiss="modal">Đăng ký</strong></a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info">Đăng nhập</button>
                        <button type="submit" class="btn btn-danger" data-dismiss="modal" aria-label="Close">Huỷ</button>
                    </div>
                </div>
            </div>
        </div>
<!-- ------- -->
<!-- ------ -->
<div class="modal fade" id="modelId3" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">QUÊN MẬT KHẨU</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for=""><strong>Tên đăng nhập</strong></label>
                            <input type="text" class="form-control" placeholder="Tên đăng nhập">
                        </div>
                        <div class="form-group col-sm-6">
                            <label for=""><strong>Số điện thoại</strong></label>
                            <input type="text" class="form-control" placeholder="Số điện thoại">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#modelId4" data-dismiss="modal">Gửi yêu cầu</button>
                <button type="submit" class="btn btn-danger" data-dismiss="modal" aria-label="Close">Huỷ</button>
            </div>
        </div>
    </div>
</div>
<!-- ------- -->
<!-- ------ -->
<div class="modal fade" id="modelId4" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">NHẬP MÃ OTP</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <p><strong>Chúng tôi đã gửi mã OTP cho bạn. Vui lòng check tin nhắn từ điện thoại của bạn</strong></p>
                        <div class="form-group col-sm-6">
                            <label for=""><strong>MÃ OTP</strong></label>
                            <input type="text" class="form-control" placeholder="Nhập mã OTP">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">Xác nhận</button>
                <button type="submit" class="btn btn-danger" data-dismiss="modal" aria-label="Close">Huỷ</button>
            </div>
        </div>
    </div>
</div>
<!-- ------- -->
    </div>
</body>
<style>
    .modal-header{
        background-color: cadetblue;
    }
</style>
<script>
    var app=angular.module("myApp",[]);
    app.controller("myCtrl",function($scope){
        
    });
</script>
</html>
