<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Truong ABC</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/trg.css">
    <script src="/angular-1.8.0/angular.min.js"></script>
    <script src="/js/giohang.js"></script>
</head>

<body ng-app="myApp" ng-controller="proCtrl">
    <div class="container-fluid">
        <nav class="row navbar navbar-expand-lg navbar-dark">
            <div class="abc">
                <a class="nav-link" href="index.html"><img src="/images/logo.png"  width="100px" height="80px"></a>
            </div>
            <ul class="navbar-nav">
                <li class="nav-item" >
                    <a class="nav-link" href="index.html"><i class="fas fa-home"></i> TRANG CHỦ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="gioithieu.html"><i class="fas fa-exclamation"></i> GIỚI THIỆU</a>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="nav-link" href="sanpham.html"><i class="fas fa-list"></i> SẢN PHẨM <span class="badge badge-danger">new</span></a>
                        <div class="dropdown-content">
                            <a href="xe.html">Xe <span class="badge badge-danger">17</span></a>
                            <a href="thoitrang.html">Thời trang <span class="badge badge-danger">10</span></a>
                            <a href="phukien.html">Các loại phụ kiện khác <span class="badge badge-danger">7</span></a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="lienhe.html"><i class="fas fa-phone"></i> LIÊN HỆ</a>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <div class="nav-link"><i class="fas fa-user-cog"></i> TÀI KHOẢN</div>
                        <div class="dropdown-content">
                            <a href="#" data-toggle="modal" data-target="#modelId1">Đăng ký</a>
                            <a href="#" data-toggle="modal" data-target="#modelId2">Đăng nhập</a>
                        </div>
                    </div>
                </li>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" style="text-align: center; padding-left: 700px;">
                        <i class="fas fa-search"></i> <input style="background-color: black; color: white;" type="text" placeholder="search">
                    </li>
                </ul>
            </ul>
        </nav>
        <div class="row">
            <article class="col-sm-9" >
                <h1 style="text-align: center; color: seashell;">Thời trang</h1>
                <div class="row text-center" style="margin-top: 15px;">
                    <div class="col-sm-3" ng-repeat="p in list_thoitrang |limitTo:8:begin">
                        <div class="card">
                            <div class="card-header" style="background-color: black; font-size: 10px;">
                                {{p.name}}
                            </div>
                            <div class="card-body">
                                <img src="/images store /thoitrang/{{p.photo}}" width="150" height="100" alt="">
                                <div style="color: black;">{{p.price | currency}}</div>
                            </div>
                            <div class="card-footer" style="background-color:black;">
                                <div class="row">
                                    <button class="btn-primary col-sm-6" ng-click="addToCartthoitrang(p.id)" ><i class="fa fa-shopping-cart"></i></button> 
                                    <button class="btn-primary col-sm-6" data-toggle="modal" data-target="#modelIdthoitrang" ng-click="layindexthoitrang(p.id)"><i class="fa fa-eye"></i></button>
                                </div>   
                            </div>                                
                        </div>
                    </div>
                </div> 
                <div style="text-align: center; margin-top: 20px;">
                    <button ng-click="first()" class="btn btn-primary">Frist</button>
                    <button ng-click="prev()" class="btn btn-info">Prev</button>
                    <button ng-click="next()" class="btn btn-info">Next</button>
                    <button ng-click="last()" class="btn btn-primary">Last</button>
                </div> 
            </article>
            <aside class="col-sm-3">
                <div class="card poly-cart">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-5">
                                <img src="/images/shoppingcart.gif"> 
                            </div>
                            <div class="col-sm-7">
                                <ul>
                                    <li>Items:{{tongsl}} </li>
                                    <li>Price: {{tonggia}}</li>
                                    <li><a href="giohang.html">VIEW CART</a></li>
                                </ul>
                            </div>
                        </div>    
                    </div>
                </div>      
                <div class="card poly-cart card-primary" data-toggle="collapse" href="#chungloai">
                    <div class="card-header" style="cursor: pointer;">
                        <i class="fas fa-list"></i> Các loại sản phẩm
                    </div>
                    <ul class="list-group list-group-flush card-collapse " id="chungloai">
                        <li class="list-group-item"><a href="xe.html"><strong>Xe</strong></a> <span class="badge badge-danger">17</span></li>
                        <li class="list-group-item"><a href="thoitrang.html"><strong>Thời trang</strong></a> <span class="badge badge-danger">10</span></li>
                        <li class="list-group-item"><a href="phukien.html"><strong>Các loại phụ kiện khác</strong></a> <span class="badge badge-danger">7</span></li>
                    </ul>
                </div>
                 
            </aside>
        </div>
    </div>
    <br>
    <footer>
        <div class="card text-center">
            <div class="card-footer">
                <h1>CỬA HÀNG KINH DOANH</h1>
                    GPKD SỐ: 41X8028483
                    <br>
                    Chi nhánh Cửa hàng ABC Tân Phú
                    52C Phạm Vấn, P.Phú Thọ Hòa, Q.Tân Phú, Tp.Hồ Chí Minh
                    0935789090 (xemohinh.com.vn)
                    <br>
                    Chi nhánh Cửa hàng ABC Quận 3
                    228 Nguyễn Thượng Hiền, P.4, Q.3, Tp.Hồ Chí Minh
                    0901747401 (Lê Nhựt Trường)
                    <br>
                    Email: truonglnps11031@fpt.edu.vn
            </div>
        </div>
    </footer>
<!-- ------ -->
<div class="modal fade" id="modelId1" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ĐĂNG KÝ TÀI KHOẢN</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <form action="#">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for=""><strong>Tên đăng nhập</strong></label>
                            <input type="text" class="form-control" placeholder="Tên đăng nhập">
                        </div>
                        <div class="form-group col-sm-6">
                            <label for=""><strong>Mật khẩu</strong></label>
                            <input type="password" class="form-control" placeholder="Mật khẩu">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for=""><strong>Số điện thoại</strong></label>
                            <input type="text" class="form-control" placeholder="Số điện thoại">
                        </div>
                        <div class="form-group col-sm-6">
                            <label for=""><strong>Nhập lại mật khẩu</strong></label>
                            <input type="password" class="form-control" placeholder="Mật khẩu">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <label for=""><strong>Địa chỉ</strong></label>
                            <textarea class="form-control" rows="3" placeholder="(đường,phường,quận,TP)"></textarea>
                        </div>
                    </div>
                
                </form>
            </div>
            <div class="modal-footer">
                <div class="form-group col-sm-6" style="margin-left: 20px;">
                    <a href=""><strong data-toggle="modal" data-target="#modelId2" data-dismiss="modal">Quay lại đăng nhập</strong></a>
                </div>
                <button type="submit" class="btn btn-warning">Đăng ký</button>
                <button type="reset" class="btn btn-danger" data-dismiss="modal" aria-label="Close">Huỷ</button>
            </div>
        </div>
    </div>
</div>
<!-- ------- -->
<!-- ------ -->
<div class="modal fade" id="modelId2" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ĐĂNG NHẬP</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for=""><strong>Tên đăng nhập</strong></label>
                            <input type="text" class="form-control" placeholder="Tên đăng nhập">
                        </div>
                        <div class="form-group col-sm-6">
                            <label for=""><strong>Mật khẩu</strong></label>
                            <input type="password" class="form-control" placeholder="Mật khẩu">
                        </div>
                        <div class="form-group col-sm-6" style="text-align: center;">
                            <a href=""><strong data-toggle="modal" data-target="#modelId3" data-dismiss="modal">Quên mật khẩu ?</strong></a> |
                            <a href=""><strong data-toggle="modal" data-target="#modelId1" data-dismiss="modal">Đăng ký</strong></a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-info">Đăng nhập</button>
                <button type="submit" class="btn btn-danger" data-dismiss="modal" aria-label="Close">Huỷ</button>
            </div>
        </div>
    </div>
</div>
<!-- ------- -->
<!-- ------ -->
<div class="modal fade" id="modelId3" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">QUÊN MẬT KHẨU</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label for=""><strong>Tên đăng nhập</strong></label>
                    <input type="text" class="form-control" placeholder="Tên đăng nhập">
                </div>
                <div class="form-group col-sm-6">
                    <label for=""><strong>Số điện thoại</strong></label>
                    <input type="text" class="form-control" placeholder="Số điện thoại">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#modelId4" data-dismiss="modal">Gửi yêu cầu</button>
        <button type="submit" class="btn btn-danger" data-dismiss="modal" aria-label="Close">Huỷ</button>
    </div>
</div>
</div>
</div>
<!-- ------- -->
<!-- ------ -->
<div class="modal fade" id="modelId4" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">NHẬP MÃ OTP</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="row">
                <p><strong>Chúng tôi đã gửi mã OTP cho bạn. Vui lòng check tin nhắn từ điện thoại của bạn</strong></p>
                <div class="form-group col-sm-6">
                    <label for=""><strong>MÃ OTP</strong></label>
                    <input type="text" class="form-control" placeholder="Nhập mã OTP">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success">Xác nhận</button>
        <button type="submit" class="btn btn-danger" data-dismiss="modal" aria-label="Close">Huỷ</button>
    </div>
</div>
</div>
</div>
<!-- ------- -->

<!-- ---chitietthoitrang---- -->
<div class="modal fade" id="modelIdthoitrang" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><strong>Chi tiết sản phẩm</strong></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <div class="clom-sm-9">
                    <div style="text-align: center;">
                        <img src="/images store /thoitrang/{{p.photo}}" width="350" height="350">
                    </div>  
                    <ul style="line-height: 25px; font-size: 15px; width: 400px;height: auto;">
                        <li><b>Tên hàng:</b> {{p.name}} <span class="badge badge-primary">Italia</span></li>
                        <li><b>Đơn giá:</b> {{p.price|currency}}</li>
                        <li><b>Nhà cung cấp:</b> LAMBORGHINI </li>
                        <li><b>Loại sản phẩm:</b> {{p.kind}} <span class="badge badge-danger">Hàng mới nhập</span></li>
                        <li><b>Số lượng còn lại:</b> <span class="badge badge-warning">50</span></li>
                    </ul>
                    <div class="row">
                        <div class="col-sm-12">
                            <h4>Hàng liên quan</h4>
                            <img class="img-thumbnail" src="/images store /thoitrang/{{p.photo}}" style="width: 100px; height:90px ;" alt="">
                            <img class="img-thumbnail" src="/images store /thoitrang/{{p.photo}}" style="width: 100px; height:90px ;" alt="">
                            <img class="img-thumbnail" src="/images store /thoitrang/{{p.photo}}" style="width: 100px; height:90px ;" alt="">
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" ng-click="addToCartthoitrang(p.id)" class="btn btn-info">Mua hàng</button>
                <button type="submit" data-dismiss="modal" aria-label="Close" class="btn btn-danger"> Huỷ</button>
            </div>
        </div>
    </div>
</div>
<!-- ------- -->
</body>
<style>
    .modal-header{
        background-color: cadetblue;
    }
</style>
<!-- <script>
    var app = angular.module("myApp",[]);
    app.controller("proCtrl",function($scope){
        $scope.layindexthoitrang=function(index){
            $scope.p=angular.copy($scope.list_thoitrang[index]);
        }
        $scope.list_thoitrang=[
            {
                id:1,
                name:"AO Da",
                photo:"aoda.jpg",
                price:100,
                kind:"Thời trang"
            },
            {
                id:2,
                name:"AO Hodie ",
                photo:"aohodie.jpg",
                price:70,
                kind:"Thời trang"
            },
            {
                id:3,
                name:"AO lanh ",
                photo:"aolanh.jpg",
                price:150,
                kind:"Thời trang"
            },
            {
                id:4,
                name:"Balo 1 ",
                photo:"balo1.jpg",
                price:40,
                kind:"Thời trang"
            },
            {
                id:5,
                name:"Balo 2 ",
                photo:"balo2.jpg",
                price:60,
                kind:"Thời trang"
            },
            {
                id:6,
                name:"Balo 3 ",
                photo:"balo3.jpg",
                price:50,
                kind:"Thời trang"
            },
            {
                id:7,
                name:"Balo 4 ",
                photo:"balo4.jpg",
                price:80,
                kind:"Thời trang"
            },
            {
                id:8,
                name:"Balo 5 ",
                photo:"balo5.jpg",
                price:25,
                kind:"Thời trang"
            },
            {
                id:9,
                name:"Non 1",
                photo:"non1.jpg",
                price:30,
                kind:"Thời trang"
            },
            {
                id:10,
                name:"Non 2 ",
                photo:"non2.jpg",
                price:35,
                kind:"Thời trang"
            },
            {
                id:11,
                name:"Cap ",
                photo:"cap1.jpg",
                price:20,
                kind:"Thời trang"
            },
            {
                id:12,
                name:"Vali 1",
                photo:"vali1.jpg",
                price:70,
                kind:"Thời trang"
            },
            {
                id:13,
                name:"Vali 2 ",
                photo:"vali2.jpg",
                price:159,
                kind:"Thời trang"
            },
            {
                id:14,
                name:"Vali 3 ",
                photo:"vali3.jpg",
                price:80,
                kind:"Thời trang"
            },
            {
                id:15,
                name:"Vi 1 ",
                photo:"vi1.jpg",
                price:65,
                kind:"Thời trang"
            },
            {
                id:16,
                name:"Vi 2 ",
                photo:"vi2.jpg",
                price:85,
                kind:"Thời trang"
            }
        ]

        $scope.layindexthoitrang = function(id){
            for(var i=0;i<$scope.list_thoitrang.length;i++){
                if($scope.list_thoitrang[i].id==id){
                    $scope.p=angular.copy($scope.list_thoitrang[i]);
                }
            }
        }    

        $scope.begin=0;
        $scope.pageCount=Math.ceil($scope.list_thoitrang.length/8);
        $scope.last=function(){
            $scope.begin=($scope.pageCount-1)*8;
        }
        $scope.first=function(){
            $scope.begin=0;
        }
        $scope.next=function(){
            if($scope.begin<($scope.pageCount-1)*8){
                $scope.begin+=8;
            }
        }
        $scope.prev=function(){
            if($scope.begin>0){
                $scope.begin -=8;
            }
        }
    });
</script> -->
</html>